@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
*/

:root {
    --cor0: #FFF2E7;
    --cor1: #ECD6C4;
    --cor2: #2F2325;
    --cor3: ;
    --cor4: ;
    --cor5: ;

    --font-Righteous: 'Righteous', cursive;
    --font-Sarala: 'Sarala', sans-serif;
    
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalo-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;  
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: var(--cor0);
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 2.5px solid #fff2e783;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: var(--font-Righteous);
    font-weight: 400;
    font-size: 64px;
    color: var(--cor0);
}

.conteudo-principal-escrito-subtitulo {
    font-family: var(--font-Sarala);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor1);
}

.conteudo-principal-escrito-botao:hover {
    background-color: #8E5D52;
}


.conteudo-principal-escrito-botao {
    font-family: var(--font-Sarala);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor2);

    background-color: var(--cor1);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 2.5px solid #fff2e783;
    padding-top: 48px;


    font-family: var(--font-Righteous);
    font-weight: normal;
    font-size: 24px;
    color: var(--cor0);
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: var(--font-Sarala);
    font-weight: 300;
    font-size: 18px;
    color: var(--cor1);
}

.rodape {
    padding: 32px;
    border-top: 2.5px solid #fff2e783;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: auto;
}